body {
  background-color: #422424;
  font-size: 16px;
  color: #ffcccc;
}
.page-container {
  width: 90%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 20px;
  border-top: solid #660000 15px;
  font-family: 'Bubbler One', sans-serif;
  font-size: 48px;
  color: white;
}
h1 + h2 {
  margin-top: -20px;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
}
h2 + p {
  margin-top: 36px;
}
img {
  width: 300px;
  margin: 20px 20px 20px 0px;
  float: left;
}
p {
  font-family: 'Arya', sans-serif;
}
p img {
  float: none;
  width: 100px;
}
