// out: css/main.css, sourcemap: true

//COLOR VARIABLES
@brick: darken(blue, 80%);
@brick-mute: desaturate(@brick, 60%);
@brick-light: lighten(@brick, 50%);

//TYPE VARIABLES
@regular: 1em;
@large: @regular * 2;
@x-large: @large * 1.5;

body {
  background-color: @brick-mute;
  font-size: @regular;
  color: @brick-light;
}

.page-container {
    width: 90%;
    margin:0 auto;
}

h1 {
  margin-bottom: 20px;
  border-top: solid @brick 15px;
  font-family: 'Bubbler One', sans-serif;
  font-size: @x-large;
  color: white;

  + h2 {
    margin-top: -20px;
  }
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: @large;

  + p {
  margin-top: 36px;
  }
}

img {
  width: 45%;
  margin: 20px 20px 20px 0px;
  float: left;

}

p {
  font-family: 'Arya', sans-serif;

  img {
    float: right;
    width: 20%;
  }
}





//BREAKPOINTS
@media screen and (min-width: 550px) {

  body {
    font-size: 1.1em;
  }

  h1 {
    font-size: @x-large;
  }

  .page-container {
    width: 80%;
  }
}

@media screen and (min-width: 900px)
body {
  font-size: 1.2em;
}
