// out: css/main.css, sourcemap: true

//COLOR VARIABLES
@brick: darken(red, 30%);
@brick-mute: desaturate(@brick, 70%);
@brick-light: lighten(@brick, 70%);

//TYPE VARIABLES
@regular: 16px;
@large: @regular * 2;
@x-large: @large * 1.5;

body {
  background-color: @brick-mute;
  font-size: @regular;
  color: @brick-light;
}

.page-container {
    width: 90%;
    margin:0 auto;
}

h1 {
  margin-bottom: 20px;
  border-top: solid @brick 15px;
  font-family: 'Bubbler One', sans-serif;
  font-size: @x-large;
  color: white;

  + h2 {
    margin-top: -20px;
  }
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: @large;

  + p {
  margin-top: 36px;
  }
}

img {
  width: 300px;
  margin: 20px 20px 20px 0px;
  float: left;

}

p {
  font-family: 'Arya', sans-serif;

  img {
    float: none;
    width: 100px;
  }
}
